#ignore all object files
*.o
*.gch

#ignore the executable
/run

#ignore all files in 'other' and 'models'
/other/*
/models/*

#don't ignore 'writeup.tex'
!/other/writeup
/other/writeup/*
!/other/writeup/writeup.tex
!/other/writeup/diagrams.tex

